html, body{
    margin: 0;

}
#imagenes {
    display: flex;
    flex-direction: row;

}
.imagen{
    padding: 40px 20px;
    width: 125px;
    cursor: pointer;
}
img{
    border-radius: 60px;
    max-width: 100%;
    object-fit: cover;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-thickness: 1px;
    position: relative;
    bottom: 60px;
    left: 30px;
    color: white;
    visibility: hidden;
}
.activa{
    width: 640px;
}
.activa h3{
    visibility: visible;
} 