body{
    top: 0;
    margin: 0;
    padding: 0;
}
.principal{
    padding: 50px;
    z-index: 1;
    background-color: white;
}
.navegacion{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius:0px 0px 500px 0px;
    background-color: salmon;
    
}
.cuerpo{
    max-width: 1000px;
    margin: 50px auto;
}
i{
    position: relative;
    top: 15%;
    left: 15%;
    cursor: pointer;
}
nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 0;
}
ul{
    list-style-type: none;

}
li{
    position: relative;
    left: -100px;
}
